/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Liu Jian Mao Cao';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Liu Jian Mao Cao Regular'), local('LiuJianMaoCao-Regular'), url(https://fonts.gstatic.com/s/liujianmaocao/v5/845DNN84HJrccNonurqXILGpvCOoTe3fLA.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", san-serif;
}
.banner-img {
  width: 100%;
  height: 50vh;
  display: block;
}
.nav-bar {
  background-color: #0097A7;
  padding: 0 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}
.nav-bar .logo-img {
  margin-left: 5%;
  height: 7.5vh;
}
.nav-bar nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar nav a {
  font-size: 2.4rem;
  color: white;
  text-decoration: none;
}
.nav-bar nav a:hover {
  color: #EF903C;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.main-section {
  background-color: #e0f7fa;
  padding: 2.5% 0;
  color: #504E50;
}
.main-section h1 {
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
  text-align: center;
  color: black;
  letter-spacing: 1rem;
}
.main-section .members-grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto;
  grid-row-gap: 2.4rem;
  grid-column-gap: 2.6rem;
  padding: 1rem ;
}
.main-section .members-grid .grid-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  padding: 2.4rem;
}
.main-section .members-grid .grid-item img {
  width: 100%;
  margin-bottom: 1.2rem;
}
.main-section .members-grid .grid-item h2 {
  font-size: 2.4rem;
  line-height: 4.8rem;
}
.main-section .members-grid .grid-item p {
  font-size: 1.8rem;
}
.main-section .members-grid .grid-item .portfolios {
  margin: 2.4rem auto 0;
  width: 50%;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section .members-grid .grid-item .portfolios a {
  text-decoration: none;
  margin: 0 2rem;
  color: #504E50;
}
.main-section .members-grid .grid-item .portfolios a:hover {
  color: #EF903C;
}
footer {
  background-color: #00BCD4;
  padding: 1.6rem;
}
footer address {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: white;
}
footer address p a {
  text-decoration: none;
  color: #EF903C;
}
footer .copyright {
  margin-top: 2.4rem;
  text-align: center;
  font-size: 2.4rem;
  color: white;
}
footer .copyright a {
  text-decoration: none;
  color: white;
}
footer .copyright a:hover {
  color: #EF903C;
}
