

.container {
    width: 1000px;
    margin: 0 auto;
}


.main-section {
    background-color: @light-cyan;
    padding: 2.5% 0;
    color: @gray-font;
    h1 {font-size: 4.8rem;
        margin-bottom: 1.6rem;
        text-align: center;
        color: black;
        letter-spacing: 1rem;
    }



    .members-grid {
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto;
        grid-row-gap: 2.4rem;
        grid-column-gap: 2.6rem;
        padding: 1rem ;
        .grid-item {

            box-shadow: @card-shadow;
            padding: 2.4rem;
            img {
                width: 100%;
                margin-bottom: 1.2rem;
            }

            h2 {
                font-size: 2.4rem;
                line-height: 4.8rem;
            }

            p {
                font-size: 1.8rem;
            }

            .portfolios {
                margin: 2.4rem auto 0;
                width: 50%;
                height: 3rem;
                border-radius: 2rem;
                .flex-class(center, center);
                a {
                    text-decoration: none;
                    margin: 0 2rem;
                    color: @gray-font;

                    &:hover {
                        color: @orange-font;
                    }
                }


            }
        }

    }
}
